<div class="body">
    <mat-card class="loginCard">
        <div class="header">
            <h2>Iniciar sesión</h2>
        </div>
        <mat-card-content style="padding-bottom: 15px;">
            <form [formGroup]="formLogin" (submit)="login()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input formControlName="email" matInput autocomplete="off">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [type]="hiddenPassword ?'password': 'text'" formControlName="password" matInput autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hiddenPassword=!hiddenPassword" type="button">
                        <mat-icon matSuffix>{{hiddenPassword ?'visibility_off': 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <button class="full-width" mat-raised-button color="primary" type="submit"
                    [disabled]="formLogin.invalid">Ingresar
                    <mat-icon matSuffix>login</mat-icon>
                </button>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="query" *ngIf="displayLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>