<h2 mat-dialog-title>{{titleAction}}</h2>
<mat-dialog-content>
    <form [formGroup]="formEmpresaEmpleado" (submit)="saveRelationship()">
        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <mat-select formControlName="idRol">
                        <mat-option *ngFor="let item of listEmpresas" [value]="item.idEmpresa">
                            {{item.nombreEmpresa}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Empleado</mat-label>
                    <mat-select formControlName="idRol">
                        <mat-option *ngFor="let item of listEmpleados" [value]="item.idEmpleado">
                            {{item.nombres}} {{item.apellidos}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="esActivo">
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="0">No activo</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="button-back" mat-raised-button mat-dialog-close>Regresar</button>
    <button class="button-primary" mat-raised-button [disabled]="formEmpresaEmpleado.invalid"
        (click)="saveRelationship()">{{buttonAction}}</button>
</mat-dialog-actions>